*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background:#FFFFFF;
    width: 100%;
    height:80px;
    position: sticky;
    top:0;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.19);
    
}
.nav ul{
    display:flex;
    justify-content:center;
    position: relative;
  
   
    
    
}
.nav ul li{
    display:inline;
    margin-bottom:20px;
   
}
.nav ul li a{
    display: inline-block;
    text-decoration: none;
    margin:30px;
    color:#393731;
    
    font-family: 'Architects Daughter', cursive;
font-family: 'Lobster', cursive;
}
.nav ul li a:hover {
    
    background-color: #506179;
    padding:10px;
}
.img{
    position: absolute;
    top:0;
    left:200px;
    width:130px;
    height: 140px;
    background-color: #ffff;
    z-index: 1;
    border-radius: 0px 0px 50% 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.me{
    width: 100%;
    height: 120vh;
    background-image: url("image/img.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    
}
.me .text{
    width:60%;
    color:white;
    position:absolute;
    top:20%;
    left:10%;
    font-size: 2rem;

}
.me .card{
    
    width:70%;
    display:flex;
    justify-content: space-around;
    color:white;
    position: absolute;
    top:60%;
    left:10%;
    padding:20px;
}
.card1{
    width:350px;
    height:270px;
    border-radius: 25px;
    background:#4C5A6B;
    text-align: center;
    opacity: 0.6;
   
  
    

}
.card2{
    width:350px;
    height:270px;
    border-radius: 25px;
    background:#4C5A6B;
    text-align: center;
    opacity: 0.6;

}
.card button{
    padding:15px;
    background:white;
    margin-bottom:20px;
    border-radius: 10px;
}

.from{
    width:100%;
    height: 70vh;
    background-color: #FEFCFF;
    position: relative;
    display:flex;
    justify-content: space-around;
    margin-top:10%;
}
.from .information{
    width:400px;
    height: 700px;
}
.infromation ul{
    list-style-type: none;

}
.infromation ul li {
    border:1px solid #FFFFFF;
    padding:15px;
    margin:10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.infromation ul li a{
    text-decoration: none;
    color:#282C32;

}
.infromation h4{
margin-bottom: 40px;
font-size: 1.5rem;
color:#512559;


}
.login h4{
    margin-bottom: 40px;
    font-size: 1.5rem;
    color:#512559;
    }
    .login p{
        width:400px;
    }
    .login input[type=text], input[type=password]{
        width: 85%;
  padding: 12px 30px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border:1px solid #FFFFF0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .login button{
        width:170px;
        background-color: #063178;
        margin:10px;
        padding:20px;
        
        border-radius: 10px;

    }
    .login button:hover{
        transition: 1s;
        transform: scale(.8);
    }
   .logo button a {
        color:wheat;
    }
    .section{
        position: relative;
        width: 100%;
        height: 40vh;
        background-color: #E7EEF9;
    }
    .section h4,p{
        line-height: 30px;
        width: 70%;
        margin:auto;
        text-align: center;
    }
    .section h4{
        padding: 20px;
        color:#7CA8DB;
        font-weight: normal;
        font-size:larger
    }
    .section p{
        color:#393731;
    }
    .log{
        position: fixed;
        width:150px;
        height: 150px;
        background-color: #032559;
        border-radius: 50%;
        border:10px solid #FFFFFF;
        bottom: 0;
        right:0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }
    .log small {
        color:#fff;
        top:10px;
        left:10px;
        position: absolute;
        padding:10px;
    }
    .log a{
        text-decoration: none;
        color:#ffff;
        font-size: small;
    }
    .footer{
        width:100%;
        height:300px;
        background-color: #032559;
        display: flex;
        justify-content: space-around;
    }
    .footer img {
        margin-top: 40%;
      
    }
    .footer p{
        color:#ffff;
    text-align: center;
    }
    .footer .contact{

        margin-top: 6%;
        padding:20px;
        color:#ffff;
    }
    
    .footer ul{
        list-style: none;
    }
    .footer ul li{
        padding:10px;
    }

    /* fee section desgine*/
    .mid{
        width:100%;
        height:100vh;
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    .mid .seclct{
        
        margin-top:10%;
        margin-left:10%;

    }
    .seclct h3{
        font-weight: bold;
        color:#032559;
        font-size: 1.5rem;
        padding:20px;
    }
    .mid input[type=text], select{
        width: 100%;
  padding: 12px 30px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border:1px solid #FFFFF0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .mid button{
        width:170px;
        background-color: #063178;
        margin:10px;
        padding:20px;
        font-weight: bold;
        color:white;
        border-radius: 10px;

    }
    .mid .btn{
        width:100px;
        background-color: #ffff;
        border:1 px solid black;
        color:black;
      
    }
    .para p{
        width:400px;
        border:1px solid black;
        border-radius: 10px;
      margin-top:50%;
      padding: 30px;
        
    }
    .instration{
       
        width:100%;
        height: 80vh;
        background:#FEFCFF;
        
     }
     .instration .imge{
         width: 80%;
        height: 400px;
        margin:auto;
       
         background-image: url("image/fee.jpg");
         background-position: center;
         background-repeat: no-repeat;
         background-attachment: scroll;
         background-size: 800px;
     }
     .instration h3{
         color:#032559;
        text-align: center;
        padding:20px;
     }
     /*start download section*/
    
    .download{
        width: 80%;
        height: 100vh;
        background:#fff;
        margin:auto;
        position: relative;
        border-radius: 10px;
   
        
    }
    .download h4{
        margin-top:10%;
        padding:14px;
        margin-left:150px;
        font-size: 1.5rem;
        color:#032559;

    }
    .download p{
        
        text-align: start;
        border:1px solid black;
        padding:30px;
        border-radius: 10px;
        margin:10px;
    }
    .download p,a{
        color:#282C32;
        text-decoration: none;
    }
    .download .app h3{
        margin:20px;
        padding:10px;
        color:#032559;
    }
    .download .app img{
        width:200px;
        height: 200px;
        margin-top:20px;
        border-radius: 10px;
        border:1px dashed black;
        padding: 20px;
    }